* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #06162c;
}

/*fonts*/
@font-face {
    font-family: 'SundayRegular';
    src: url('assets/fonts/SundayRegular.woff2')
}

@font-face {
    font-family: 'SundayMediumItalic';
    src: url('assets/fonts/SundayMediumItalic.woff2')
}

@font-face {
    font-family: 'SundayBold';
    src: url('assets/fonts/SundayBold.woff2')
}

@font-face {
    font-family: 'SundayExtraBoldItalic';
    src: url('assets/fonts/SundayExtraBoldItalic.woff2')
}

@font-face {
    font-family: 'SundayMono';
    src: url('assets/fonts/SundayMonoRegularItalic.woff2')
}

.SundayBold {
    font-family: SundayBold, sans-serif;
}

.SundayMono {
    font-family: SundayMono, sans-serif;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.SundayRegular {
    font-family: SundayRegular, sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.SundayMediumItalic {
    font-family: SundayMediumItalic, sans-serif;
    font-size: 42px;
    font-weight: 500;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: normal;
}

.SundayExtraBoldItalic {
    font-family: SundayExtraBoldItalic, sans-serif;
    font-size: 38px;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
}

/*colors*/

.white {
    color: #fffef5
}

.gallery-1 {
    color: #9fc8c9
}

.gallery-2 {
    color: #ffe84a;
}

.gallery-3 {
    color: #dcb58e;
}

.gallery-4 {
    color: #ff7151;
}

.gallery-5 {
    color: #6fdeac;
}

.gallery-6 {
    color: #f9cdf0;
}

.gallery-7 {
    color: #e7aca0;
}

.gallery-8 {
    color: #ba7db7;
}

.gallery-9 {
    color: #a9cafe;
}

.gallery-10 {
    color: #f69022;
}

.gallery-11 {
    color: #feff9d;
}

.gallery-12 {
    color: #2fe4de;
}

.gallery-13 {
    color: #ffbad3;
}

.gallery-14 {
    color: #80b3ff;
}

.gallery-15 {
    color: #c4c1fc;
}

.gallery-16 {
    color: #f7cdf5;
}

.gallery-17 {
    color: #3baeff;
}

.gallery-18 {
    color: #d5bba8;
}

.gallery-19 {
    color: #fff28d;
}

.gallery-20 {
    color: #ff7f71;
}

.gallery-21 {
    color: #a4cfff;
}

.gallery-22 {
    color: #b76727;
}


/*top section*/

.vh {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.vh .flex-text {
    display: flex;
    align-items: center;
}

.heb {
    direction: rtl;
}

.vh .logo {
    width: 300px;
    height: 262px;
    margin-top: 88px;
    margin-bottom: 63px;
}

.vh .flex-text p:first-child {
    text-align: right;
    margin-right: 25px;
}

.vh .flex-text p {
    width: 433px;
    height: 154px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #ffffff;
}

/*gallery images*/

#wrap {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.side-logo {
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 9;
}

#wrap .right {
    left: initial;
    right: 24px;
    z-index: 9;
}

#wrap .images {
    position: absolute;
    z-index: 10;
    width: 877px;
    height: 400px;
    top: 182px;
    overflow: hidden;
}

#wrap .images .new {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

    overflow: hidden;
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='110' height='110' viewBox='0 0 110 110'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg transform='translate(-948 -328) translate(948 328)'%3E%3Ccircle cx='55' cy='55' r='55' fill='%23FFFEF5'/%3E%3Cpath fill='%2306162C' fill-rule='nonzero' d='M29.579 61l3.19-7.964h.154L34.045 61h4.576c1.65-2.882 4.422-10.032 5.104-13.2h-3.74c-.153.797-.586 2.423-1.074 4.118l-.229.784c-.5 1.698-1.02 3.346-1.337 4.184h-.22L35.937 47.8h-4.092l-3.278 9.02h-.132l-.726-9.02h-3.916L24.937 61h4.642zm17.358 0l2.31-2.068L48.939 61h3.828l1.034-7.084c.308.044.616.11.902.154l.77-2.838c-1.518-.616-3.278-.946-5.61-.946-2.464 0-4.268.682-5.06 1.892-.726 1.122-1.276 3.916-1.276 6.556 0 .44.022.902.044 1.32l.132.946h3.234zm.858-3.036l-.33-.066c-.022-.11-.022-.308-.022-.572 0-1.078.22-3.586.44-4.29l.418-.022c.11 0 .814.044 1.298.132.154.022.308.066.484.088l-.506 3.388-1.782 1.342zM60.445 61l3.476-2.288-.11-2.134-2.508 1.386-.374-.022c-.044-.176-.044-.44-.022-1.342 0-.264.044-.638.22-1.848l.176-1.122h3.52l.374-2.596h-3.52l.308-2.112h-3.718l-.308 2.112h-1.562l-.396 2.596h1.584l-.242 1.584c-.242 1.672-.33 2.684-.33 3.674 0 .44 0 .704.044 1.166l.132.946h3.256zm8.58 0l4.95-2.992-.11-2.134-3.982 2.09-.33-.066c-.016-.048-.02-.073-.022-.269v-.303c0-1.408.242-3.784.44-4.29l.44-.022c.22 0 .594.044 1.386.176 1.1.198 1.958.352 2.706.528l.814-3.058c-1.012-.242-2.112-.374-3.366-.374-2.464 0-4.268.682-5.06 1.892-.726 1.078-1.276 3.894-1.276 6.556l.044 1.32.132.946h3.234zm10.362 0l.814-5.588 2.2-1.65.418.066c.044.264.066.55.066.814 0 .396-.044.792-.176 1.716L82.049 61h3.916l.836-5.676c.132-.88.198-1.804.198-2.64 0-1.122-.044-1.65-.198-2.156h-3.454l-2.838 2.53h-.11l.99-6.842h-3.762L75.471 61h3.916z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") 50 50, pointer;
}

#wrap .images .new .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background: url("https://placekitten.com/400/700");
    background-size: cover;
}

#wrap .images .new.pic1 {
    z-index: 23;
}

#wrap .images .new.pic1 .slide {
    background: url("assets/images/gallery-1.png");
    background-size: cover;
    background-position: center;
}

#wrap .images .new.pic2 {
    z-index: 22;
}

#wrap .images .new.pic2 .slide {
    background: url("assets/images/gallery-2.png");
    background-size: cover;
    background-position: center;
}

#wrap .images .new.pic3 {
    z-index: 21;
}

#wrap .images .new.pic3 .slide {
    background: url("assets/images/gallery-3.png");
    background-size: cover;
    background-position: center;
}

#wrap .images .new.pic4 {
    z-index: 20;
}

#wrap .images .new.pic4 .slide {
    background: url("assets/images/gallery-4.png");
    background-size: cover;
    background-position: center;
}

#wrap .images .new.pic5 {
    z-index: 19;
}

#wrap .images .new.pic5 .slide {
    background: url("assets/images/gallery-5.png");
    background-size: cover;
    background-position: center;
}

#wrap .images .new.pic6 {
    z-index: 18;
}

#wrap .images .new.pic6 .slide {
    background: url("assets/images/gallery-6.png");
    background-size: cover;
    background-position: center;
}

#wrap .images .new.pic7 {
    z-index: 17;
}

#wrap .images .new.pic7 .slide {
    background: url("assets/images/gallery-7.png");
    background-size: cover;
    background-position: center;
}

#wrap .images .new.pic8 {
    z-index: 16;
}

#wrap .images .new.pic8 .slide {
    background: url("assets/images/gallery-8.png");
    background-size: cover;
    background-position: center;
}

#wrap .images .new.pic9 {
    z-index: 15;
}

#wrap .images .new.pic9 .slide {
    background: url("assets/images/gallery-9.png");
    background-size: cover;
    background-position: center;
}

#wrap .images .new.pic10 {
    z-index: 14;
}

#wrap .images .new.pic10 .slide {
    background: url("assets/images/gallery-10.png");
    background-size: cover;
    background-position: center;
}

#wrap .images .new.pic11 {
    z-index: 13;
}

#wrap .images .new.pic11 .slide {
    background: url("assets/images/gallery-11.png");
    background-size: cover;
    background-position: center;
}

#wrap .images .new.pic12 {
    z-index: 12;
}

#wrap .images .new.pic12 .slide {
    background: url("assets/images/gallery-12.png");
    background-size: cover;
    background-position: center;
}

#wrap .images .new.pic13 {
    z-index: 11;
}

#wrap .images .new.pic13 .slide {
    background: url("assets/images/gallery-13.png");
    background-size: cover;
    background-position: center;
}

#wrap .images .new.pic14 {
    z-index: 10;
}

#wrap .images .new.pic14 .slide {
    background: url("assets/images/gallery-14.png");
    background-size: cover;
    background-position: center;
}

#wrap .images .new.pic15 {
    z-index: 9;
}

#wrap .images .new.pic15 .slide {
    background: url("assets/images/gallery-15.png");
    background-size: cover;
    background-position: center;
}

#wrap .images .new.pic16 {
    z-index: 8;
}

#wrap .images .new.pic16 .slide {
    background: url("assets/images/gallery-16.png");
    background-size: cover;
    background-position: center;
}

#wrap .images .new.pic17 {
    z-index: 7;
}

#wrap .images .new.pic17 .slide {
    background: url("assets/images/gallery-17.png");
    background-size: cover;
    background-position: center;
}

#wrap .images .new.pic18 {
    z-index: 6;
}

#wrap .images .new.pic18 .slide {
    background: url("assets/images/gallery-18.png");
    background-size: cover;
    background-position: center;
}

#wrap .images .new.pic19 {
    z-index: 5;
}

#wrap .images .new.pic19 .slide {
    background: url("assets/images/gallery-19.png");
    background-size: cover;
    background-position: center;
}

#wrap .images .new.pic20 {
    z-index: 4;
}

#wrap .images .new.pic20 .slide {
    background: url("assets/images/gallery-20.png");
    background-size: cover;
    background-position: center;
}

#wrap .images .new.pic21 {
    z-index: 3;
}

#wrap .images .new.pic21 .slide {
    background: url("assets/images/gallery-21.png");
    background-size: cover;
    background-position: center;
}

#wrap .images .new.pic22 {
    z-index: 2;
}

#wrap .images .new.pic22 .slide {
    background: url("assets/images/gallery-22.png");
    background-size: cover;
    background-position: center;
}


#wrap #column {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    margin-top: 20vh;
    height: auto;
}

#wrap #column .thumb {
    height: 100vh;
}

/*gallery text*/

.post-wrap {
    height: 100vh;
}

.credits {
    position: relative;
    bottom: -370px;
    width: 874px;
    margin: 0 auto;
}

.credits .text {
    font-size: 15px;
    line-height: 23px;
}

.credits .animation {
    margin-top: 15px;
    font-size: 15px;
    line-height: 23px;
}

.credits .text-name {
    margin-bottom: 15px;
}

.text, .animation {
    display: block;
}

.titles {
    width: 874px;
    margin: auto;
    position: relative;
    top: calc(100vh - 112%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* VIDEO things */
#video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #000;
}

#opacity-overlay.show {
    background-color: rgba(6, 22, 44, 0.4);
    width: 100%;
    height: calc(100% - 18px);
    position: absolute;
    top: 0;
}

#video-overlay .slide,
#video-overlay .video-wrapper {
    height: 100%;
}

#video-overlay video {
    height: 100vh;
    width: 100%;
}

#modal-close {
    position: fixed;
    right: 25px;
    color: #fff;
    top: 25px;
    z-index: 9999;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23FFFEF5'%3E%3Cpath d='M1407.176 30l2.824 2.824-9.177 9.176 9.177 9.176-2.824 2.824-9.177-9.177-9.175 9.177-2.824-2.824 9.176-9.176-9.176-9.176 2.824-2.824 9.176 9.177 9.176-9.177z' transform='translate(-1386 -30)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#modal-close a {
    z-index: 9;
    display: block;
    height: 100%;
}

#video-overlay video.show {
    display: block;
}

#progress {
    height: 18px !important;
    position: relative;
    background-color: #06162c;
}

#progress .fill {
    height: 100%;
    transition: width ease 1s;
    position: absolute;
    left: 0;
    width: 0;
    background-color: #ffde00;
}

#video-overlay .controls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    height: 18px;
}


/**player text overlay*/
#block-trigger {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgb(226, 230, 10);
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 25px;
    cursor: pointer;
    z-index: 100;
}

#block-trigger:focus {
    border: none;
}

#text-block {
    position: absolute;
    height: 0;
    width: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    line-height: 1.2;
    opacity: 0;
    z-index: 11;
    transition: opacity ease 0.3s;
}

#text-block.open {
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: #06162c;
    overflow: auto;
}

#text-block.open::-webkit-scrollbar {
    display: none;
}

#text-block.open {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

div.language {
    display: none;
}

div.language.active {
    display: block;
}

div .language .writer,
div .language .animation {
    font-size: 15px;
}

div .language span.writer,
div .language span.animation {
    margin-top: 20px;
    margin-bottom: 8px;
    display: block;
}

.wrapper p {
    font-size: 60px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
}

.wrapper p#hebrew {
    direction: rtl;
}

.wrapper p#english {
    text-align: left;
}

.slide {
    position: relative;
    width: 100%;
}

.nav {
    height: 36px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

.nav button {
    color: #ffffff;
    width: 77px;
    padding: 8px 14px 8px 15px;
    border: solid 2px #ffffff;
    background-color: #06162c;
    margin-right: 12px;
    font-size: 15px;
}

.nav button.active {
    background-color: white;
    color: #06162c;
}

button {
    outline: none;
}

#play-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    background: transparent;
    border: none;
    transition: all ease .3s;
    font-family: SundayExtraBoldItalic, sans-serif;
    font-size: 76px;
    color: #fffef5;
}

#play-btn:hover {
    opacity: 1;
}

.copyrights {
    position: fixed;
    font-size: 1.4rem;
    font-family: SundayRegular, sans-serif;
    z-index: 9;
    width: 100%;
    text-align: center;
    top: initial;
    bottom: 10px;
    left: 0;
}

.copyrights span {
    text-decoration: underline;
}

/*//about page*/
.about iframe {
    width: 100%;
    height: 477px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.about .right-wrap {
    position: fixed;
    right: 57px;
}

.about .right-wrap .nav {
    margin-top: 50px;
    margin-bottom: 30px;
}

.about .right-wrap .right-text {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.3px;
}

.about .left-wrap .SundayRegular {
    font-size: 18px;
}

.row h6,
.row h1 {
    margin: 0;
}

.row h6 {
    margin-bottom: 20px;
}

.row h1 {
    margin-bottom: 40px;
}
